<div class="sibling-menu">
    <a href="#">View Menu <span class="fa"></span></a>
</div>
<ul>
    <li>
        @Html.ActionLink("Info", "Index", "Events", new { urlSegment= ViewBag.UrlSegment },
    (ViewContext.RouteData.Values["category"].ToString() == "events" ? new { @class = "active" }:null))
    </li>
    <li>
        @Html.ActionLink("Schedule", "Schedule", "Events", new { urlSegment = "schedule", category = ViewBag.UrlSegment },
    (ViewContext.RouteData.Values["urlSegment"].ToString() == "schedule" ? new { @class = "active" } : null))
    </li>
    <li>
        @Html.ActionLink("Prices", "Prices", "Events", new { urlSegment = "prices", category = ViewBag.UrlSegment },
    (ViewContext.RouteData.Values["urlSegment"].ToString() == "prices" ? new { @class = "active" } : null))
    </li>
    <li>
        @Html.ActionLink("Registration", "Registration", "Events", new { urlSegment = "registration", category = ViewBag.UrlSegment },
    (ViewContext.RouteData.Values["urlSegment"].ToString() == "registration" ? new { @class = "active" } : null))
    </li>
    <li>
        @Html.ActionLink("FAQ", "FAQ", "Events", new { urlSegment = "faq", category = ViewBag.UrlSegment },
    (ViewContext.RouteData.Values["urlSegment"].ToString() == "faq" ? new { @class = "active" } : null))
    </li>
</ul>
